<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </li>
    <li>
        <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản trị danh mục<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="flot.html">Địa chỉ</a>
            </li>
            <li>
                <a href="morris.html">Logo</a>
            </li>
            <li>
                <a href="morris.html">Header</a>
            </li>
            <li>
                <a href="morris.html">Footer</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Quản trị Logs</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Quản lý chung<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/Admin/MenuType/Index">Nhóm Menu</a>
            </li>
            <li>
                <a href="/Admin/Menu/Index">Menu</a>
            </li>
            <li>
                <a href="#">Album</a>
            </li>
            <li>
                <a href="#">Photo</a>
            </li>
            <li>
                <a href="/Admin/Menu/TreeView">Phân quyền</a>
            </li>             
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Quản trị hệ thống<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/Admin/User/Index">Quản lý User</a>
            </li>
            <li>
                <a href="/Admin/Group/Index">Quản lý Group</a>
            </li>
            <li>
                <a href="#">Quản lý phân quyền <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                </ul>
                <!-- /.nav-third-level -->
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-files-o fa-fw"></i> Quản trị Module<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#">Module</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
</ul>
