@model IEnumerable<ModelEntity.EF.Menu>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
        $(document).ready(function () {
            $('#bt1').click(function () {
                alert('Helo');
            });
        });
</script>

<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="bt1">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </li>
    @foreach (var item in Model.Where(x=>x.ParentMenuID==null))
    {
        var child = Model.Where(x => x.ParentMenuID==item.ID);
        <li class="dropdown">
            <a href="@item.Link"><i class="fa fa-bar-chart-o fa-fw"></i>@item.Text<span class="fa arrow"></span></a>  <!--Hien thi Cha-->       
            @if (child.Count() > 0)
            {
                <ul class="nav nav-second-level">
                    @foreach (var childItem in child)
                    {
                        <li>
                            <a href="@childItem.Link">@childItem.Text</a>  <!--Hien thi Con-->
                        </li>
                    }                             
                </ul>
            }
            <!-- /.nav-second-level -->
        </li>
    }
</ul>
